.container{
display: flex;
background-color: rgb(238, 215, 219);
text-align: center;
align-items: center;
height: 300px;
width: 300px;
}

.container2{
    display: flex;
background-color: pink;
text-align: center;
height: 300px;
width: 300px;
}

.container3{
    display: flex;
background-color: rgb(249, 121, 143);
text-align: center;
height: 300px;
width: 300px;
}



